* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body{
  width: 100%;
  height: 100%
}
 body {
  background: url(../img/bg5.jpg) center no-repeat;
  background-size: cover;
  word-break: break-all;
  
} 

 .open {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #070920;
  width: 100%;
  height: 80px;
  position: relative;
  overflow: hidden;
} 
.open:before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 20px;
  background-color: #070920;
  top: 0;
  left: -50px;
}
.open-btn {
  border: none;
  outline: none;
  color: #070920;
  font-weight: 900;
  cursor: pointer;
  background-color: #f9d9a0;
  box-shadow: 0px 0px 10px rgba(83, 86, 173, 0.5);
  border-radius: 20px;
  width: 200px;
  height: 50px;
}
.main {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.main-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  width: 550px;
  min-height: 400px;
  padding: 20px;
  border-radius: 30px;
  background-color: #f9d9a0;}
.main-info .name,
.main-info .name-value,
.main-info .budget,
.main-info .budget-value,
.main-info .goods,
.main-info .goods-value,
.main-info .items,
.main-info .items-value,
.main-info .employers,
.main-info .employers-value,
.main-info .discount,
.main-info .discount-value,
.main-info .isopen,
.main-info .isopen-value {
  width: 50%;
  height: calc(100% / 9);
  margin-top: 10px;
  padding: 10px;
  color: #070920;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.main-info .isopen-value,
.main-info .discount-value {
  background-color: red;
}
.main-functions {
  width: 550px;
  min-height: 500px;
  padding: 20px;
  background-color: #f9d9a0;
  border-radius: 30px;

}
.main-functions .input-style {
    display: inline-block;
    width: 80%;
    height: 26px;
    background: transparent;
    border-radius: 13px;
    border: 1px solid #333;
    padding-left: 15px;
    font-size: 12px;
    outline: none;
    transition: .3s;
    position: relative;
    color: #070920;
}
.main-functions .choose-goods,
.main-functions .choose-items,
.main-functions .time,
.main-functions .count-budget,
.main-functions .hire-employers {
  
  margin-top: 5px;
  text-align: center;
  font-size: 18px;
}
.main-functions .goods-item {
  display: inline-block;
    width: 80%;
    height: 26px;
    background: transparent;
    border-radius: 13px;
    border: 1px solid #333;
    padding-left: 15px;
    font-size: 12px;
    outline: none;
    transition: .3s;
    position: relative;
    color: #070920;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 10px;
}
.main-functions .goods-item-btn {
  width: 150px;
  height: 20px;
  display: block;
  margin: 0 auto;
  background: transparent;
  margin-top: 10px;
  border-radius: 6px;
  border-color: #070920;
  color: #070920;
}
.main-functions .choose-item,
.main-functions .time-value,
.main-functions .count-budget-value {
  display: inline-block;
    width: 80%;
    height: 26px;
    background: transparent;
    border-radius: 13px;
    border: 1px solid #333;
    padding-left: 15px;
    font-size: 12px;
    outline: none;
    transition: .3s;
    position: relative;
    color: #070920;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 10px;

}

.main-functions .count-budget-btn{
  width: 150px;
  height: 20px;
  display: block;
  margin: 0 auto;
  background: transparent;
  margin-top: 10px;
  border-radius: 6px;
  border-color: #070920;
  color: #070920;
}
.main-functions .hire-employers-item {
  display: inline-block;
    width: 80%;
    height: 26px;
    background: transparent;
    border-radius: 13px;
    border: 1px solid #333;
    padding-left: 15px;
    font-size: 12px;
    outline: none;
    transition: .3s;
    position: relative;
    color: #070920;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 10px;
}
.main-functions .hire-employers-btn {
  width: 150px;
  height: 20px;
  display: block;
  margin: 0 auto;
  background: transparent;
  margin-top: 10px;
  border-radius: 6px;
  border-color: #070920;
  color: #070920;
}
